body {
  background-color: #bfeae9;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 960px;
  position: relative;
  margin: 0 auto;
}

.search-input {
  font-family: 'Nunito', sans-serif;
  width: 100%;
  padding: 10px 0px 10px 10px;
  font-size: 20px;
  border-radius: 30px;
  border: 2px solid #dee2e6;
  outline: 0;
  box-shadow: inset 0 0.25rem 0.125rem 0 rgba(0,0,0,0.05);
  color: #495057;
}


.emojis-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.emojis-wrapper .emoji {
  width: 60px;
  height: 60px;
  background-color: #fff;
  text-align: center;
  line-height: 60px;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: inset 0 0.25rem 0.125rem 0 rgba(0,0,0,0.05);
  margin: 10px;
}